<div class="card blue">
    <div class="card-content">
        <span class="card-title">Parser states</span>
        <p>

            <ul class="collapsible" data-collapsible="expandable">
                <li ng-repeat="itemSet in parserVisualiser.itemSets">
                    <div class="collapsible-header" id='itemSet{{itemSet.Id}}'>{{::itemSet.Id}}</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="collection-item">
                                Rules:
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="rule in ::itemSet.Rules">
                                        {{::rule}}
                                    </li>
                                </ul>
                            </li>
                            <li class="collection-item">
                                References:
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="referenceId in ::getItemSetReferences(parserVisualiser.itemSets, itemSet.Id) track by $index">
                                        <a href="#itemSet{{referenceId}}" target="_self">{{::referenceId}}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="collection-item">
                                Transitions:
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="(transitionSymbol, transitionState) in ::itemSet.Transitions track by $index">
                                        <a href="#itemSet{{transitionState}}" target="_self">{{::transitionSymbol}} - {{::transitionState}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class=" collection-item">
                                Table:
                                <ul class="collection">
                                    <li class="collection-item" ng-repeat="action in ::parserVisualiser.table[itemSet.Id]">
                                        <div ng-if="action.actionType == 'goto'">
                                            {{::action.symbol}} Goto {{::action.state}}
                                        </div>
                                        <div ng-if="action.actionType == 'shift'">
                                            {{::action.symbol}} Shift {{::action.state}}
                                        </div>
                                        <div ng-if="action.actionType == 'reduce'">
                                            {{::action.symbol}} Reduce {{::action.production}}
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </p>
    </div>
</div>