<div class="card red" ng-show="parserErrorOutput != null">
    <div class="card-content white-text">
        <span class="card-title">Parser error</span>
        <p>
            <ul class="collection black-text">
                <li class="collection-item">
                    Message {{parserErrorOutput.message}}
                </li>
                <li class="collection-item">
                    Trace messages:
                    <ul class="collection">
                        <li class="collection-item black-text" ng-repeat="message in parserErrorOutput.traceMessages">
                            {{message}}
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="card red" ng-show="lexerErrorOutput != null">
    <div class="card-content white-text">
        <span class="card-title">Lexer error</span>
        <p>
            <pre>{{lexerErrorOutput|json}}</pre>
        </p>
    </div>
</div>
<div class="card blue" ng-show="(parserOutput != null) && showParserOutput">
    <div class="card-content white-text">
        <span class="card-title">Parser result</span>
        <p>
            <pre>{{parserOutput|json}}</pre>
        </p>
    </div>
</div>

<div class="card blue" ng-show="(lexerOutput != null) && showLexerOutput">
    <div class="card-content white-text">
        <span class="card-title">Lexer output</span>
        <p>{{lexerOutput}}</p>
    </div>
</div>

<div class="card green lighten-3" ng-if="(parserLog != null) && showParserLog">
    <div class="card-content">
        <span class="card-title">Parser log</span>
        <div>
            <ng-include src="'views/debugger/parserLogView.html'"></ng-include>
        </div>
    </div>
</div>