<html ng-app="sparqlTestApp">

<head>
    <title>Tester</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="content/bin/ERSParser.js"></script>
    <script src="sparqljs-browser.js"></script>
    <script src="site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>

<body ng-controller="SparqlTestController">
    <div class="row">
        <div class="col s6">
            <textarea ng-model="queryInput" ng-change="queryInputChanged()" class="materialize-textarea"></textarea>
            <button class="btn align-right" ng-click="runNewParserClick()">Run</button>
            <button class="btn align-right" ng-click="runOriginalParserClick()">Run Original</button>
            <div>
                <p>
                    <input type="checkbox" id="showLexerOutput" ng-model="showLexerOutput" ng-change="showCheckBoxChanged()"/>
                    <label for="showLexerOutput">Show lexer output</label>
                </p>
                <p>
                    <input type="checkbox" id="showParserOutput" ng-model="showParserOutput" ng-change="showCheckBoxChanged()"/>
                    <label for="showParserOutput">Show parser output</label>
                </p>
                <p>
                    <input type="checkbox" id="showParserLog" ng-model="showParserLog" ng-change="showCheckBoxChanged()"/>
                    <label for="showParserLog">Show parser log</label>
                </p>
            </div>

        </div>

        <div class="col s6 ">
            <div class="card red" ng-show="parserErrorOutput != null">
                <div class="card-content white-text">
                    <span class="card-title">Parser error</span>
                    <p>
                        <pre>{{parserErrorOutput|json}}</pre>
                    </p>
                </div>
            </div>

            <div class="card red" ng-show="lexerErrorOutput != null">
                <div class="card-content white-text">
                    <span class="card-title">Lexer error</span>
                    <p>
                        <pre>{{lexerErrorOutput|json}}</pre>
                    </p>
                </div>
            </div>
            <div class="card blue" ng-show="(parserOutput != null) && showParserOutput">
                <div class="card-content white-text">
                    <span class="card-title">Parser result</span>
                    <p>
                        <pre>{{parserOutput|json}}</pre>
                    </p>
                </div>
            </div>

            <div class="card blue" ng-show="(lexerOutput != null) && showLexerOutput">
                <div class="card-content white-text">
                    <span class="card-title">Lexer output</span>
                    <p>{{lexerOutput}}</p>
                </div>
            </div>

            <div class="card green" ng-show="(parserLog != null) && showParserLog">
                <div class="card-content white-text">
                    <span class="card-title">Parser log</span>
                    <p>
                        <pre>{{parserLog}}</pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>